
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    font-size: 20px;
    margin: 0 auto;

}
.title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.addUser{
    width: 90px;
    height: 35px;
   text-align: center;
   margin-left: 50px;
   margin-bottom: 50px;
   border:  none;
   border-radius: 3px;
   background-color: #04AA6D;
   color: white;
}

.addUser:hover{
    opacity: 0.9;
}


   td, th {
    border: 2px solid rgb(181, 179, 179);
    padding: 15px;
    width: 180px;
  }
th {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

.searchInput{
    margin-left: 45px;
    width: 120px;
    height: 28px;
    outline: none;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.updateInput{
    width: 180px;
    height: 28px;

}
.linkHome{
    position: absolute;
    top: 30px;
    left: 40px;
    color: rgb(108, 108, 228);
    text-decoration: none;

}
.linkHome:hover{
    text-decoration: underline;
}
.btnSort{
    width: 70px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: rgb(41, 152, 221);
    border: none;
    border-radius: 3px;
}
.btnSort:hover{
    opacity: 0.9;
}
.arrows{
    margin-left: 60px;
}
.arrowUp, .arrowDown{
    margin-right: 15px;
    background-color: transparent;
    border: none;
}
.arrUp, .arrDown{
    width: 35px;
    opacity: 0.7;
}
.arrUp:hover, .arrDown:hover{
    opacity: 1;
}
.searchInput.wrong{
    border: 2px solid red;
}