.review{
    width: 300px;
    padding: 8px 17px;
    border-radius: 4px;
    padding-bottom: 25px;
    color: rgba(222, 222, 222, 1);
    background-color: rgba(243, 255, 255, 0.404);
    box-shadow: 3px 3px 14px 3px rgba(166, 168, 169, 0.2);
}
.title{
    margin-bottom: 10px;
    font-size: 18px;
    color: rgb(197, 196, 196) ;
    font-weight: 600;
}